@scope ([data-component=navigation]) {
  :scope {
    all: unset;
    padding-left: 8px;
    padding-right: 8px;
    display: block;
  }

  > [data-title] {
    all: unset;
  }

  > [data-list] {
    all: unset;
    display: block;

    > [data-item] {
      all: unset;
    }
  }
}
