@scope ([data-component=page-layout]) {
  :scope {
    all: unset;
    display: grid;
    grid-template:
      "header" auto
      "main" minmax(0, 1fr);
    --page-layout-padding-x: 8px;
    height: 100dvh;
  }

  > header {
    all: unset;
    grid-area: header;
    padding-left: var(--page-layout-padding-x);
    padding-right: var(--page-layout-padding-x);
    padding-top: 16px;
    padding-bottom: 16px;
  }

  > [data-navigation] {
    all: unset;
    grid-area: nav;
    display: none;
  }

  > main {
    all: unset;
    grid-area: main;
    padding-left: var(--page-layout-padding-x);
    padding-right: var(--page-layout-padding-x);
    min-height: 0;
    overflow: auto;
  }

  @media (min-width: 40rem) {
    :scope {
      grid-template:
        "header header" auto
        "nav    main" minmax(0, 1fr)
        / 16rem minmax(0, 1fr);
    }

    > [data-navigation] {
      display: block;
    }
  }
}
