@scope ([data-component=page-layout]) {
  :scope {
    all: unset;
    display: grid;
    --page-layout-padding-x: 8px;
    height: 100dvh;
  }

  :scope {
    grid-template:
      "header header" auto
      "nav    main" minmax(0, 1fr)
      / 16rem minmax(0, 1fr);
  }

  > [data-component=aside] {
    display: block;
  }

  > main {
    display: block;
  }

  > [data-component=header-aria] {
    all: unset;
    grid-area: header;
    padding-left: var(--page-layout-padding-x);
    padding-right: var(--page-layout-padding-x);
    padding-top: 16px;
    padding-bottom: 16px;
  }

  > [data-component=aside] {
    all: unset;
    grid-area: nav;
  }

  > main {
    all: unset;
    grid-area: main;
    padding-left: var(--page-layout-padding-x);
    padding-right: var(--page-layout-padding-x);
    min-height: 0;
    overflow: auto;
  }

  @media (max-width: 30rem) {
    :scope:has(> [data-component=aside][data-open=false]) {
      grid-template:
        "header" auto
        "main" minmax(0, 1fr);

      > [data-component=aside] {
        display: none;
      }

      > main {
        display: block;
      }
    }

    :scope:has(> [data-component=aside][data-open=true]) {
      grid-template:
        "header" auto
        "nav" minmax(0, 1fr);

      > [data-component=aside] {
        display: block;
      }

      > main {
        display: none;
      }
    }
  }
}
